<div class="container-fluid">
  <mat-spinner class="ml-auto mr-auto mt-3" *ngIf="loading" color=""></mat-spinner>
  <div *ngIf="!loading" class="card mt-4 shadow-sm">
    <div class="card-body">
      <h4 class="card-title">
        {{'FACILITIES.YOUR_FACILITIES' | translate}}
      </h4>
      <table mat-table matSort [dataSource]="dataSource" class="w-100">
        <ng-container matColumnDef="id">
          <th mat-header-cell *matHeaderCellDef mat-sort-header>{{'FACILITIES.ID' | translate}}</th>
          <td mat-cell *matCellDef="let facility">{{facility.id}}</td>
        </ng-container>
        <ng-container matColumnDef="name">
          <th mat-header-cell *matHeaderCellDef mat-sort-header>{{'FACILITIES.NAME' | translate}}</th>
          <td mat-cell *matCellDef="let facility">{{facility.name}}</td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
      </table>
    </div>
  </div>
</div>
