<div class="container-fluid pt-5">
  <mat-spinner class="ml-auto mr-auto" *ngIf="loading" color=""></mat-spinner>
  <div *ngIf="!loading" class="row mb-4 p-lg-5 p-4 border-dark shadow">
    <div class="col">
      <div class="row">
        <!-- PAGE TITLE -->
        <div class="col-md-8">
          <h2 class="card-title">{{'FACILITIES.ADD_ADMIN_SIGN_TITLE' | translate}} {{facility.name | itemLocale}}?</h2>
          <p>{{details.inviterName}} &lt;{{details.inviterEmail}}&gt; {{'FACILITIES.ADD_ADMIN_TEXT' | translate}}</p>
        </div>
        <!-- BUTTONS -->
        <div class="col-md-4 mt-4 mb-2 controls text-right">
          <button class="btn-block" mat-raised-button color="accent" (click)="addAdminConfirm()">
            {{'FACILITIES.ADD_ADMIN_SIGN_SUBMIT' | translate}}
          </button>
          <button class="btn-block mb-3" mat-raised-button color="warn" (click)="addAdminReject()">
            {{'FACILITIES.ADD_ADMIN_SIGN_REJECT' | translate}}
          </button>
        </div>
      </div>
    </div>
    <div class="w-100"><!-- SPACER --></div>
    <div class="col">
      <div class="row mt-3">
        <div class="col">
          <mat-tab-group class="p-1">
            <!-- SERVICE -->
            <mat-tab label="{{ 'COMMON.ATTRIBUTES.SERVICE' | translate }}">
              <detailed-view-items [attrs]="serviceAttrs" [isAppAdmin]="false" [includeComment]="false"></detailed-view-items>
            </mat-tab>
            <!-- ORGANIZATION -->
            <mat-tab label="{{ 'COMMON.ATTRIBUTES.ORGANIZATION' | translate }}">
              <detailed-view-items [attrs]="orgAttrs" [isAppAdmin]="false" [includeComment]="false"></detailed-view-items>
            </mat-tab>
          </mat-tab-group>
        </div>
      </div>
    </div>
  </div>
</div>
