<div class="form-group row">
  <form class="d-flex w-100" #form="ngForm">
    <div class="col-sm-12 d-flex">
      <div class="w-100">
        <label class="col-form-label word-break-word" [class.perun-warn]="this.noItemError">
          {{translatedName}}
          <span *ngIf="applicationItem.required"> *</span>
        </label>
        <button
          mat-icon-button
          color="accent"
          (click)="addValue()">
          <mat-icon>
            add_box
          </mat-icon>
        </button>
        <div>
          <hr class="hr">
          <p class="p">{{translatedDescription}}</p>
        </div>
        <div class="mr-5">
          <div *ngFor="let value of values; let i = index; trackBy: customTrackBy" class="d-flex mb-1">
            <mat-form-field class="w-100 mr-2">
              <input
                matInput
                required
                placeholder="{{'REQUESTS.MAP_KEY' | translate}}"
                type="text"
                id="{{applicationItem.name}}-key-{{i}}"
                [(ngModel)] = "keys[i]"
                name="key-{{i}}">
            </mat-form-field>
            <mat-form-field class="w-100 mr-2 ml-2">
              <input
                matInput
                required
                placeholder="{{'REQUESTS.MAP_VALUE' | translate}}"
                type="text"
                name="value-{{i}}"
                id="{{applicationItem.name}}-value-{{i}}"
                [(ngModel)] = "values[i]">
            </mat-form-field>
            <button
              mat-icon-button
              color="warn"
              (click)="removeValue(i)">
              <mat-icon>
                indeterminate_check_box
              </mat-icon>
            </button>
          </div>
        </div>
      </div>
    </div>
  </form>
</div>
