
// Custom Theming for Angular Material
// For more information: https://material.angular.io/guide/theming
@import '~@angular/material/theming';
// Plus imports for other components in your app.

// Include the common styles for Angular Material. We include this here so that you only
// have to load a single css file for Angular Material in your app.
// Be sure that you only ever include this mixin once!
@include mat-core();

// Define the palettes for your theme using the Material Design palettes available in palette.scss
// (imported above). For each palette, you can optionally specify a default, lighter, and darker
// hue. Available color palettes: https://material.io/design/color/
$service-creation-primary: mat-palette($mat-indigo, 500);
$service-creation-accent: mat-palette($mat-purple, A400);

// The warn palette is optional (defaults to red).
$service-creation-warn: mat-palette($mat-red);

// Create the theme object (a Sass map containing all of the palettes).
$service-creation-theme: mat-light-theme($service-creation-primary, $service-creation-accent, $service-creation-warn);

// Include theme styles for core and each component used in your app.
// Alternatively, you can import and @include the theme mixins for each component
// that you are using.
@include angular-material-theme($service-creation-theme);

@import "~font-awesome/css/font-awesome.css";

.no-hover-decoration {
  text-decoration: none !important;
}

a {
  color: rgba(0, 0, 0, .65) !important;
}

a:hover {
  color: rgba(0, 0, 0, .85) !important;
}

.perun-warn {
  color: #f44336;
}

.center-text {
  text-align: center;
}

.word-break-word {
  word-break: break-word;
}

.hover-dark {
  transition:all 0.25s ease;
}

.hover-dark:hover {
  background: rgba(0, 0, 0, 0.05);
}

.clickable {
  cursor: pointer;
}

.no-focus-outline:focus {
  outline: none;
}

.perun-small-btn {
  height: auto;
  min-width: 1% !important;
  min-height: 1% !important;
}

h1, h2, h3, h4, h5, h6 {
  font-weight: 400 !important;
}

th {
  font-weight: 400 !important;
}

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
