<div class="container-fluid">
  <div class="row pt-5">
    <app-menu-button class="col-sm-6 col-md-4 col-lg-3 col-xl-2 mb-5"
                     [icon]="requestsIcon" [route]="'requests/myRequests'" [text]="'REQUESTS.TITLE'">
    </app-menu-button>
    <app-menu-button class="col-sm-6 col-md-4 col-lg-3 col-xl-2 mb-5"
                     [icon]="facilitiesIcon" [route]="'facilities'" [text]="'FACILITIES.TITLE'">
    </app-menu-button>
    <app-menu-button class="col-sm-6 col-md-4 col-lg-3 col-xl-2 mb-5"
                     [icon]="newRequestIcon" [route]="'requests/new'" [text]="'REQUESTS.NEW'">
    </app-menu-button>
  </div>
</div>
