<div class="container-fluid pt-5">
  <ng-container *ngIf="getUser() !== undefined && getUser().isAppAdmin">
    <h4>{{'MENU.MAIN' | translate}}</h4>
  </ng-container>

  <ng-container>
    <div class="row">
      <app-menu-button class="col-sm-12 col-md-6 col-lg-6 col-xl-4 mb-5"
                       [icon]="requestsIcon" [route]="'requests/myRequests'" [text]="'MENU.MY_REQUESTS'">
      </app-menu-button>
      <app-menu-button class="col-sm-12 col-md-6 col-lg-6 col-xl-4 mb-5"
                       [icon]="facilitiesIcon" [route]="'facilities/myServices'" [text]="'MENU.MY_SERVICES'">
      </app-menu-button>
      <app-menu-button class="col-sm-12 col-md-6 col-lg-6 col-xl-4 mb-5"
                       [icon]="newRequestIcon" [route]="'requests/new'" [text]="'MENU.REGISTER_SERVICE'">
      </app-menu-button>
    </div>
  </ng-container>

  <ng-container *ngIf="getUser() !== undefined && getUser().isAppAdmin">
    <h4>{{'MENU.ADMIN' | translate}}</h4>
    <div class="row">
      <app-menu-button class="col-sm-12 col-md-6 col-lg-6 col-xl-4 mb-5"
                       [icon]="requestsIcon" [route]="'requests/allRequests'" [text]="'MENU.ALL_REQUESTS'">
      </app-menu-button>
      <app-menu-button class="col-sm-12 col-md-6 col-lg-6 col-xl-4 mb-5"
                       [icon]="facilitiesIcon" [route]="'facilities/allFacilities'" [text]="'MENU.ALL_FACILITIES'">
      </app-menu-button>
    </div>
  </ng-container>
</div>
