<div class="form-group row">
  <form class="w-100" #form="ngForm">
    <div class="col-12 d-flex">
      <mat-form-field class="w-100">
        <input
          #input="ngModel"
          [pattern]="((applicationItem.regex != undefined) && (applicationItem.regex.length > 0)) ? applicationItem.regex : null"
          matInput
          placeholder="{{translatedName}}"
          [(ngModel)]="value"
          name="{{applicationItem.name}}"
          [required]="applicationItem.required"
          type="text"
          id="{{applicationItem.name}}">
        <mat-hint [innerHTML]="translatedDescription"></mat-hint>
      </mat-form-field>
    </div>
    <div class="col-12 d-flex perun-warn" *ngIf="input.errors?.pattern && input.touched">
      {{'REQUESTS.INVALID_VALUE' | translate}}
    </div>
  </form>
</div>
