<div class="form-group row">
  <form class="d-flex w-100" #form="ngForm">
    <div class="col-sm-12 d-flex">
      <mat-form-field class="w-100">
        <input
          matInput
          placeholder="{{applicationItem.displayName}}"
          [(ngModel)]="value"
          name="{{applicationItem.name}}"
          required
          type="text"
          class=""
          id="{{applicationItem.name}}">
      </mat-form-field>
      <fa-icon
        matTooltip="{{applicationItem.description}}"
        [matTooltipPosition]="'above'"
        class="m-2 text-secondary fa-lg"
        [icon]="helpIcon">
      </fa-icon>
    </div>
  </form>
</div>
