<div class="form-group row">
  <form class="d-flex w-100" #form="ngForm">
    <div class="col-sm-12 d-flex">
      <mat-form-field class="w-100">
        <mat-select multiple
                    [(ngModel)]="values"
                    name="{{applicationItem.name}}"
                    placeholder="{{translatedName}}"
                    [required]="applicationItem.required">

          <mat-option *ngFor="let value of applicationItem.allowedValues" [value]="value">{{value}}</mat-option>
        </mat-select>
        <mat-hint>{{translatedDescription}}</mat-hint>
      </mat-form-field>
    </div>
  </form>
</div>
