<div *ngFor="let item of attrs">
  <div class="border-bottom p-3">
    <ng-container [ngSwitch]="item.type">
    <!-- STRING -->
      <detail-item-string *ngSwitchCase="'java.lang.String'"
                          class="toggleable"
                          [item]="item"
                          [isAppAdmin]="isAppAdmin"
                          [includeComment]="includeComment"
                          [displayOldVal]="item.shouldDisplayOldVal(displayOldVal)"></detail-item-string>
      <!-- LONG -->
      <detail-item-integer *ngSwitchCase="'java.lang.Long'"
                           [item]="item"
                           [isAppAdmin]="isAppAdmin"
                           [includeComment]="includeComment"
                           [displayOldVal]="item.shouldDisplayOldVal(displayOldVal)"></detail-item-integer>
      <!-- BOOLEAN -->
      <detail-item-boolean *ngSwitchCase="'java.lang.Boolean'"
                           [item]="item"
                           [isAppAdmin]="isAppAdmin"
                           [includeComment]="includeComment"
                           [displayOldVal]="item.shouldDisplayOldVal(displayOldVal)"></detail-item-boolean>
      <!-- MAP -->
      <detail-item-map *ngSwitchCase="'java.util.LinkedHashMap'"
                       [item]="item"
                       [isAppAdmin]="isAppAdmin"
                       [includeComment]="includeComment"
                       [displayOldVal]="item.shouldDisplayOldVal(displayOldVal)"></detail-item-map>
      <!-- ARRAY -->
      <detail-item-array *ngSwitchCase="'java.util.ArrayList'"
                         [item]="item"
                         [isAppAdmin]="isAppAdmin"
                         [includeComment]="includeComment"
                         [displayOldVal]="item.shouldDisplayOldVal(displayOldVal)"></detail-item-array>
    </ng-container>
  </div>
</div>
