<!-- String -->
<app-application-item-string
  [applicationItem]="applicationItem"
  *ngIf="applicationItem.type === 'java.lang.String'">
</app-application-item-string>

<!-- Boolean -->
<app-application-item-boolean
  [applicationItem]="applicationItem"
  *ngIf="applicationItem.type === 'java.lang.Boolean'">
</app-application-item-boolean>

<!-- ArrayList -->
<app-application-item-list
  [applicationItem]="applicationItem"
  *ngIf="applicationItem.type === 'java.util.ArrayList'">
</app-application-item-list>

<!-- HashMap -->
<app-application-item-map
  [applicationItem]="applicationItem"
  *ngIf="applicationItem.type === 'java.util.LinkedHashMap'">
</app-application-item-map>

