<configuration packagingData="true" debug="false" scan="false" scanPeriod="30 seconds">
    <contextName>spreg-app</contextName>

    <appender name="FILE" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <file>${catalina.base}/logs/spreg-app.log</file>
        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <fileNamePattern>/var/log/spreg-app/spreg-app.log.%d{yyyy-MM-dd}</fileNamePattern>
        </rollingPolicy>
        <encoder>
            <pattern>%d %-5level %logger{40} - %msg%n</pattern>
        </encoder>
    </appender>
    <appender name="SYSLOG" class="ch.qos.logback.classic.net.SyslogAppender">
        <!-- PASSED FROM POM.XML / MAVEN BUILD PROPS -->
        <facility>LOCAL6</facility>
        <throwableExcluded>true</throwableExcluded>
        <suffixPattern>%cn : %-5level %logger{40} - %m%n%xException</suffixPattern>
    </appender>

    <root level="trace">
        <appender-ref ref="FILE"/>
    </root>

    <!-- keep Spring quiet -->
    <logger name="org.springframework" level="warn"/>
    <logger name="com.mysql.jdbc" level="warn"/>
    <logger name="org.postgresql.jdbc" level="warn"/>
    <logger name="cz.metacentrum.perun.spRegistration" level="trace"/>

</configuration>
