<div class="container-fluid pt-5 p-lg-5">
  <mat-spinner class="ml-auto mr-auto" *ngIf="loading" color=""></mat-spinner>

  <div class="row">
    <div class="col-12">
      <div *ngIf="!loading" class="card mb-4 shadow-sm">
        <div class="card-body p-3 p-lg-5">
          <h1 class="mb-3">{{'REQUESTS.NEW_TITLE' | translate}}</h1>

          <mat-form-field class="col-5" *ngIf="oidcEnabled">
            <mat-hint>{{'REQUESTS.NEW_SELECT_TYPE' | translate}}</mat-hint>
            <mat-select [(ngModel)]="serviceSelected">
              <mat-option *ngIf="oidcEnabled" (click)="oidcSelected()" [value]="'oidc'">
                {{'REQUESTS.OIDC' | translate}}
              </mat-option>
              <mat-option (click)="samlSelected()" [value]="'saml'">
                {{'REQUESTS.SAML' | translate}}
              </mat-option>
            </mat-select>
          </mat-form-field>

          <div class="mt-4" *ngIf="this.isCardBodyVisible">

            <mat-horizontal-stepper class="p-0" labelPosition="bottom" [linear]="false" #stepper>
              <mat-step *ngFor="let applicationItems of applicationItemGroups" completed="false">
                <app-request-creation-step [applicationItems]="applicationItems" [stepper]="stepper">
                </app-request-creation-step>
              </mat-step>
              <mat-step>
                <div class="mb-3">
                  {{"REQUESTS.NEW_LAST_STEP_HEADER" | translate}}
                </div>
                <div>
                <button mat-raised-button (click)="previousStep()">
                  {{"REQUESTS.NEW_PREVIOUS_STEP" | translate}}
                </button>
                  <button
                    class="ml-2"
                    type="submit"
                    mat-raised-button
                    color="accent"
                    (click)="submitRequest()">
                    {{"REQUESTS.REQUEST_SUBMIT" | translate}}
                  </button>
                </div>
              </mat-step>
            </mat-horizontal-stepper>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

