<detail-item-sub-comment-button #buttonComponent [isAppAdmin]="isAppAdmin" [includeComment]="includeComment"
                                [showComment]="!!item.comment"></detail-item-sub-comment-button>

<div class="p-0 m-0">
  <p class="mb-1 font-thick">
    <mat-icon *ngIf="displayOldVal" class="mr-2" matTooltip="{{'REQUESTS.CHANGED_VAL_WARN' | translate}}">warning</mat-icon>
    {{item.name | itemLocalePipe}}
  </p>
  <p class="text-muted mb-1">
    <span class="small" [innerHTML]="item.description | itemLocalePipe"></span>
  </p>
  <div class="mb-0" [innerHTML]="item.value | detailedViewItemValuePipe"></div>
  <ng-container *ngIf="displayOldVal">
    <p class="mt-1 mb-0 text-muted small">
      <span class="mr-1">{{'REQUESTS.OLD_VALUE' | translate}}:</span>
    </p>
    <div class="mb-0 text-muted small" [innerHTML]="item.oldValue | detailedViewItemValuePipe"></div>
  </ng-container>
</div>

<detail-item-sub-comment [includeComment]="includeComment" [item]="item" [isAppAdmin]="isAppAdmin"
                        [buttonComponent]="buttonComponent"></detail-item-sub-comment>
