<div class="container-fluid pt-5 p-lg-5">
  <mat-spinner class="ml-auto mr-auto" *ngIf="loading" color=""></mat-spinner>
  <div *ngIf="!loading" class="card mb-4 shadow-sm">
    <div class="card-body p-5">
      <h2 class="card-title">
        {{'FACILITIES.MOVE_TO_PRODUCTION_TITLE_1' | translate}}{{facility.id}} - {{facility.name}} {{'FACILITIES.MOVE_TO_PRODUCTION_TITLE_2' | translate}}
      </h2>
      {{'FACILITIES.MOVE_TO_PRODUCTION_DESCRIPTION' | translate}}

      <div *ngIf="isEmailEnabled">
        <mat-form-field class="chip-list">
          <mat-chip-list #chipList
                         [disabled]="!emailEnabled">
            <mat-chip *ngFor="let email of emails" [selectable]="false"
                      [removable]="true" (removed)="remove(email)">
              {{email}}
              <mat-icon matChipRemove>cancel</mat-icon>
            </mat-chip>
            <input placeholder="{{'FACILITIES.EMAIL_DESCRIPTION' | translate}}"
                   [matChipInputFor]="chipList"
                   [matChipInputSeparatorKeyCodes]="separatorKeysCodes"
                   [matChipInputAddOnBlur]="true"
                   (matChipInputTokenEnd)="add($event)">
          </mat-chip-list>
        </mat-form-field>

        <mat-checkbox class="example-margin" [(ngModel)]="emailEnabled">{{'FACILITIES.MOVE_TO_PRODUCTION_EMAIL' | translate}}</mat-checkbox>
      </div>

      <div class="pull-right">
        <button class="ml-2" mat-raised-button color="accent" (click)="moveToProduction()">
          {{'FACILITIES.SUBMIT_BUTTON' | translate}}
        </button>
      </div>

    </div>
  </div>
</div>
