<div class="row">
  <div class="pt-2 pb-2" [class.col-8]="applicationItem.isEdit" [class.col-12]="!applicationItem.isEdit" >
    <!-- String -->
    <request-item-input-string
      [applicationItem]="applicationItem"
      *ngIf="applicationItem.type === 'java.lang.String' || applicationItem.type === 'java.lang.LargeString'">
    </request-item-input-string>

    <!-- Boolean -->
    <request-input-item-boolean
      [applicationItem]="applicationItem"
      *ngIf="applicationItem.type === 'java.lang.Boolean'">
    </request-input-item-boolean>

    <!-- ArrayList without allowed values-->
    <request-item-input-list
      [applicationItem]="applicationItem"
      *ngIf="(applicationItem.type === 'java.util.ArrayList' || applicationItem.type === 'java.util.LargeArrayList')
      && (applicationItem.allowedValues === null || applicationItem.allowedValues.length === 0)">
    </request-item-input-list>

    <!-- ArrayList with allowed values-->
    <request-item-input-select
      [applicationItem]="applicationItem"
      *ngIf="(applicationItem.type === 'java.util.ArrayList' || applicationItem.type === 'java.util.LargeArrayList')
      && (applicationItem.allowedValues !== null && applicationItem.allowedValues.length > 0)">
    </request-item-input-select>

    <!-- HashMap -->
    <request-application-item-map
      [applicationItem]="applicationItem"
      *ngIf="applicationItem.type === 'java.util.LinkedHashMap'">
    </request-application-item-map>
  </div>
  <div *ngIf="applicationItem.isEdit" class="col-4">
    <div *ngIf="applicationItem.comment" class="alert alert-warning" role="alert">
      {{applicationItem.comment}}
    </div>
  </div>
</div>
