<!--<nav class="navbar navbar-default navbar-expand-lg navbar-light bg-light border-bottom fixed-top">
  <a class="navbar-brand ml-1 mt-1 mb-1" routerLink="">
    {{'TITLE' | translate}}
  </a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo02"
          aria-controls="navbarTogglerDemo02" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarTogglerDemo02">
    &lt;!&ndash;used to align navbar items to the right&ndash;&gt;
    <ul class="navbar-nav mr-auto">
    </ul>

    <ul class="navbar-nav">
      <li class="nav-item p-2" [class.active]="!!currentUrl && currentUrl === '/'">
        <a class="no-hover-decoration" routerLink="">
          <fa-icon [icon]="faHome"></fa-icon>
          Home
        </a>
      </li>
      <li class="nav-item p-2" [class.active]="!!currentUrl && currentUrl.startsWith('/requests')">
        <a class="no-hover-decoration" routerLink="requests">
          <fa-icon [icon]="faRequests"></fa-icon>
          Requests
        </a>
      </li>
      <li class="nav-item p-2" [class.active]="!!currentUrl && currentUrl.startsWith('/facilities')">
        <a class="no-hover-decoration" routerLink="facilities">
          <fa-icon [icon]="faFacilities"></fa-icon>
          Facilities
        </a>
      </li>
    </ul>
  </div>
</nav>
-->

