<form class="col-12 pl-0 pr-0 w-100" #form="ngForm">
  <div class="row">
    <mat-form-field class="col-12 pl-0 pr-0 w-100">
      <input matInput #input="ngModel" [required]="applicationItem.required" id="{{applicationItem.name}}"
             [(ngModel)]="value" [pattern]="applicationItem.hasRegex() ? applicationItem.regex : null"
             [type] = "applicationItem.regex === 'URL' ? 'url' : 'text'" [class.perun-warn]="hasError()"
             placeholder="{{applicationItem.displayName | itemLocalePipe}}" name="{{applicationItem.name}}">
      <mat-hint [innerHTML]="applicationItem.description | itemLocalePipe"></mat-hint>
      <request-item-input-error *ngIf="missingValueError"
                                [messageKey]="'REQUESTS.ERRORS.NO_VALUE_ERROR'"></request-item-input-error>
      <request-item-input-error *ngIf="expectedValueChangedError"
                                [messageKey]="'REQUESTS.ERRORS.EXPECTED_CHANGED_VALUE_ERROR'"></request-item-input-error>
      <request-item-input-error *ngIf="regexMismatchError"
                                [messageKey]="'REQUESTS.ERRORS.REGEX_MISMATCH_ERROR'"></request-item-input-error>
    </mat-form-field>
  </div>
</form>
