<form class="col-12 pl-0 pr-0 w-100" #form="ngForm">
  <div class="row">
    <mat-form-field class="col-12 pl-0 pr-0 w-100">
      <mat-select multiple [(ngModel)]="values" placeholder="{{applicationItem.displayName | itemLocalePipe}}"
                  name="{{applicationItem.name}}" [required]="applicationItem.required" [class.perun-warn]="hasError()">
        <mat-option *ngFor="let value of applicationItem.allowedValues" [value]="value">{{value}}</mat-option>
      </mat-select>
      <mat-hint [innerHTML]="applicationItem.description | itemLocalePipe"></mat-hint>
      <request-item-input-error *ngIf="missingValueError"
                                [messageKey]="'REQUESTS.ERRORS.NO_VALUE_ERROR'"></request-item-input-error>
      <request-item-input-error *ngIf="expectedValueChangedError"
                                [messageKey]="'REQUESTS.ERRORS.EXPECTED_CHANGED_VALUE_ERROR'"></request-item-input-error>
    </mat-form-field>
  </div>
</form>
