<mat-toolbar color="primary" class="fixed-top">
  <button mat-icon-button
          class="mr-2 no-focus-outline d-block d-sm-none"
          (click)="sidenav.toggle()">
    <mat-icon>
      menu
    </mat-icon>
  </button>
  <a routerLink="" class="site-title">
   {{ 'TITLE' | translate}}
  </a>
</mat-toolbar>

<mat-sidenav-container>
  <mat-sidenav #sidenav
               mode="side"
               class="perun-sidenav"
               [(opened)]="opened"
               [fixedInViewport]="true"
               [fixedTopGap]="64">
    <ul class="navbar-nav">
      <li class="nav-item p-2" [class.active]="currentUrl !== undefined && currentUrl === '/'">
        <a class="no-hover-decoration" routerLink="">
          {{'MENU.HOME' | translate}}
        </a>
      </li>
      <li class="nav-item p-2" [class.active]="currentUrl !== undefined && currentUrl === '/requests'">
        <a class="no-hover-decoration" routerLink="requests/myRequests">
          {{'MENU.REQUESTS' | translate}}
        </a>
        <ul class="navbar-nav pt-1">
          <li class="nav-item pl-2" [class.active]="currentUrl !== undefined && currentUrl === '/requests/myRequests'">
            <a class="no-hover-decoration" routerLink="/requests/myRequests">
              {{'MENU.MY_REQUESTS' | translate}}
            </a>
          </li>
          <li class="nav-item pl-2" [class.active]="currentUrl !== undefined && currentUrl === '/requests/new'">
            <a class="no-hover-decoration" routerLink="requests/new">
              {{'MENU.NEW_REQUEST' | translate}}
            </a>
          </li>
        </ul>
      </li>
      <li class="nav-item pt-0 pl-2 pr-2 pb-2" [class.active]="currentUrl !== undefined && currentUrl === '/facilities'">
        <a class="no-hover-decoration" routerLink="facilities">
          {{'MENU.FACILITIES' | translate}}
        </a>
      </li>
    </ul>
  </mat-sidenav>

  <mat-sidenav-content class="example-container">
    <div class="row mr-0 ml-0">
      <div class="col-12 col-xl-11">
        <router-outlet></router-outlet>
      </div>
    </div>
  </mat-sidenav-content>
</mat-sidenav-container>

<app-perun-footer></app-perun-footer>

<!--<div class="container-fluid">-->
    <!--<div class="row flex-xl-nowrap">-->
      <!--<div class="col-12 perun-content">-->
        <!--<router-outlet></router-outlet>-->
      <!--</div>-->
    <!--</div>-->
<!--</div>-->
