<mat-progress-bar mode="indeterminate" *ngIf="loading"></mat-progress-bar>
<div *ngIf="!loading">
  <mat-toolbar color="primary" class="fixed-top mat-elevation-z4">
    <mat-toolbar-row>
      <button mat-icon-button
              class="mr-2 no-focus-outline d-block d-md-none"
              (click)="sidenav.toggle()">
        <mat-icon>
          menu
        </mat-icon>
      </button>
      <a [routerLink]="getUser() !== undefined ? '/auth' : '/'" class="site-title ml-2">
        <img [src]="logoUrl" class="logo" alt="logo"/>
        {{ appTitle }}
      </a>
      <div class="user-info" *ngIf="getUser() !== undefined">
<!--        TODO: Prepared dropdown if needed in future-->
<!--        <div class="dropdown">-->
<!--          <button mat-icon-button class="dropdown-toggle" type="button" id="userDropDownButton" data-toggle="dropdown">-->
<!--            <mat-icon>-->
<!--              person-->
<!--            </mat-icon>-->
<!--          </button>-->
<!--          <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">-->
<!--            <div class="dropdown-item-text" disabled="true">{{user | UserFullName}}</div>-->
<!--          </div>-->
<!--        </div>-->
        <mat-icon>
          person
        </mat-icon>
        <div>
          {{getUser().fullName}}
        </div>
      </div>
    </mat-toolbar-row>
  </mat-toolbar>

<mat-sidenav-container>
  <mat-sidenav #sidenav
               [mode]="sidebarMode"
               class="perun-sidenav"
               [(opened)]="sideBarOpened"
               [fixedInViewport]="true"
               [fixedTopGap]="64"
  >
    <ul class="navbar-nav" *ngIf="getUser() !== undefined">
      <li class="nav-item menu-spacer home-spacer menu-item-l1">
        {{ 'MENU.MAIN' | translate }}
      </li>
      <li class="nav-item menu-item-l2" [class.active]="currentUrl !== undefined && currentUrl === '/auth'">
        <a class="no-hover-decoration" routerLink="/auth" (click)="closeSideBar()">
          {{'MENU.HOME' | translate}}
        </a>
      </li>
      <ng-template *ngIf="getUser() !== undefined && getUser().isAppAdmin; then adminBlock;"></ng-template>
      <ng-template #adminBlock>
        <li class="nav-item menu-spacer admin-spacer menu-item-l1">
          {{'MENU.ADMIN' | translate}}
        </li>
        <li class="nav-item menu-item-l2"
            [class.active]="currentUrl !== undefined && currentUrl === '/auth/requests/allRequests'">
          <a class="no-hover-decoration" routerLink="auth/requests/allRequests" (click)="closeSideBar()">
            {{'MENU.ALL_REQUESTS' | translate}}
          </a>
        </li>
        <li class="nav-item menu-item-l2"
            [class.active]="currentUrl !== undefined && currentUrl === '/auth/facilities'">
          <a class="no-hover-decoration" routerLink="auth/facilities/allFacilities" (click)="closeSideBar()">
            {{ 'MENU.ALL_FACILITIES' | translate }}
          </a>
        </li>
      </ng-template>
      <li class="nav-item menu-spacer requests-spacer menu-item-l1">
        {{ 'MENU.REQUESTS' | translate }}
      </li>
      <li class="nav-item menu-item-l2" [class.active]="currentUrl !== undefined && currentUrl === '/auth/requests/myRequests'">
        <a class="no-hover-decoration" routerLink="/auth/requests/myRequests" (click)="closeSideBar()">
          {{'MENU.MY_REQUESTS' | translate}}
        </a>
      </li>
      <li class="nav-item menu-spacer requests-spacer menu-item-l1">
        {{'MENU.SERVICES' | translate}}
      </li>
      <li class="nav-item menu-item-l2" [class.active]="currentUrl !== undefined && currentUrl === '/auth/facilities/myServices'">
        <a class="no-hover-decoration" routerLink="/auth/facilities/myServices" (click)="closeSideBar()">
          {{'MENU.MY_SERVICES' | translate}}
        </a>
      </li>
      <li class="nav-item menu-item-l2" [class.active]="currentUrl !== undefined && currentUrl === '/auth/requests/new'">
        <a class="no-hover-decoration" routerLink="auth/requests/new" (click)="closeSideBar()">
          {{'MENU.REGISTER_SERVICE' | translate}}
        </a>
      </li>
    </ul>
  </mat-sidenav>

    <mat-sidenav-content class="content-container">
      <div class="row mr-0 ml-0">
        <div class="col-12 col-xl-11 p-0 pr-lg-5 pl-lg-5">
          <router-outlet></router-outlet>
        </div>
      </div>
    </mat-sidenav-content>
  </mat-sidenav-container>

  <div [innerHTML]="footerHtml"></div>
</div>
