.sidebar {
  top: 5rem;
  height: calc(100vh - 5rem);
  position: sticky;
}

.logo {
  max-height: 32px;
}

.site-title {
  text-decoration: none !important;
  color: white !important;
}

.perun-sidenav {
  background-color: #fafafa;
  top: 56px !important;
  padding: 1em;
  min-width: 200px;
}

.right-spacer {
  width: 200px;
  background-color: #fafafa;
}

.active {
  > a {
    color: rgba(0, 0, 0, .90) !important;
  }
}

.perun-content {
  padding-top: 5rem;
  background: #f8f8f8;
  min-height: 80vh;
}
.content-container {
  //width: auto;
  margin-top: 64px;
}

.example-sidenav-content {
  display: flex;
  height: 100%;
  align-items: center;
  justify-content: center;
}

.example-sidenav {
  padding: 20px;
}

.user-info {
  margin-left: auto;
  display: flex;
  align-items: center;
}
