.sidebar {
  top: 5rem;
  height: calc(100vh - 5rem);
  position: sticky;
}

.logo {
  max-height: 32px;
}

.site-title {
  text-decoration: none !important;
  color: white !important;
}

.right-spacer {
  width: 200px;
  background-color: #fafafa;
}

.perun-content {
  padding-top: 5rem;
  background: #f8f8f8;
  min-height: 80vh;
}
.content-container {
  margin-top: 64px;
}

.example-sidenav-content {
  display: flex;
  height: 100%;
  align-items: center;
  justify-content: center;
}

.example-sidenav {
  padding: 20px;
}

.user-info {
  margin-left: auto;
  display: flex;
  align-items: center;
}

.perun-sidenav {
  background-color: #fafafa;
  padding-bottom: 1em !important;
  min-width: 200px;
}

.active {
  background-color: rgba(0,0,0,.65) !important;
  > a {
    color: #FAFAFA !important;
  }
}

.nav-item {
  padding: .5rem !important;
}

.menu-spacer {
  color: #020202;
}

.menu-item-l1 {
  padding-left: 1em !important;
}

.menu-item-l2 {
  padding-left: 2em !important;
}


