<div class="container-fluid pt-5">
  <mat-spinner class="ml-auto mr-auto" *ngIf="loading" color=""></mat-spinner>
  <div *ngIf="!loading" class="row mb-4 p-lg-5 p-4 border-dark shadow">
    <div class="col">
      <div class="row">
        <!-- PAGE TITLE + APPROVALS-->
        <div class="col-md-8">
          <h2 class="card-title">{{'REQUESTS.DETAIL_TITLE' | translate}}{{request.reqId}}</h2>
          <div><span class="font-thick mr-1">{{'REQUESTS.STATUS' | translate}}:</span>
            <span [outerHTML]="request.status | requestStatusIcon"></span>{{ request.status | requestStatusLang | translate }}
          </div>
          <div><span class="font-thick mr-1">{{'REQUESTS.ACTION' | translate}}:</span>
            <span [innerHTML]=" request.action | requestActionPipe | translate"></span>
          </div>
          <div class="mb-4"><span class="font-thick mr-1">{{'REQUESTS.DETAIL_EDITED' | translate}}:</span>
            {{ request.modifiedAt | date: 'dd/MM/yyyy'}}</div>
          <ng-container *ngIf="request.action == 'MOVE_TO_PRODUCTION'">
            <h5>{{'REQUESTS.APPROVALS' | translate}}</h5>
            <ul>
              <li *ngFor="let signature of signatures">
                <span class="mr-2">{{signature.name}} -</span>
                <span class="text-muted mr-2">{{signature.signedAt | date: 'dd/MM/yyyy'}}</span>
                <span [innerHTML]="signature.approved | requestApprovedPipe"></span>
              </li>
            </ul>
          </ng-container>
        </div>
        <!-- BUTTONS -->
        <div class="col-md-4 mt-4 mb-2 controls text-right">
          <ng-container *ngIf="request.facilityId && !(request.action === 'DELETE_FACILITY' && request.status === 'APPROVED')">
            <button class="btn-block mb-3" mat-raised-button color="accent"
                    [routerLink]="['/auth/facilities/detail', request.facilityId]">
              {{'REQUESTS.SEE_FACILITY' | translate}}
            </button>
          </ng-container>
          <ng-container *ngIf="isApplicationAdmin && request.status=='WAITING_FOR_APPROVAL'">
            <button class="btn-block" mat-raised-button color="accent" (click)="openApproveDialog()">
              {{'REQUESTS.DETAIL_APPROVE' | translate}}
            </button>
          </ng-container>
          <ng-container *ngIf="isApplicationAdmin && request.status=='WAITING_FOR_APPROVAL'">
            <button mat-raised-button color="warn" class="btn-block" (click)="openRejectDialog()">
              {{'REQUESTS.DETAIL_REJECT' | translate}}
            </button>
          </ng-container>
          <ng-container *ngIf="isApplicationAdmin && (request.status=='WAITING_FOR_APPROVAL' || request.status=='WAITING_FOR_CHANGES')">
            <button class="btn-block" mat-raised-button color="primary" (click)="openSetWFCDialog()">
              {{'REQUESTS.DETAIL_REQUEST_CHANGES' | translate}}
            </button>
          </ng-container>
          <ng-container *ngIf="(isApplicationAdmin && request.status=='WAITING_FOR_APPROVAL') || (request.status=='WAITING_FOR_CHANGES')">
            <button class="btn-block" mat-raised-button color="accent" [routerLink]="['/auth/requests/editRequest', request.reqId]">
              {{'REQUESTS.EDIT_REQUEST' | translate}}
            </button>
          </ng-container>
        </div>
      </div>
    </div>
    <div class="w-100"><!-- SPACER --></div>
    <!-- ATTRIBUTES -->
    <div class="col">
      <div class="row mt-4">
        <h4 class="col">{{'REQUESTS.DETAIL_ITEMS' | translate}}</h4>
      </div>
      <div class="row mt-3">
        <div class="col">
          <mat-tab-group class="p-1">
            <!-- SERVICE -->
            <mat-tab label="{{ 'COMMON.ATTRIBUTES.SERVICE' | translate }}">
              <detailed-view-items [attrs]="requestAttrsService" [isAppAdmin]="isApplicationAdmin" [displayOldVal]="request.action === 'UPDATE_FACILITY'"
                                   [includeComment]="request.status !== 'APPROVED' && request.status !== 'REJECTED'"></detailed-view-items>
            </mat-tab>
            <!-- ORGANIZATION -->
            <mat-tab label="{{ 'COMMON.ATTRIBUTES.ORGANIZATION' | translate }}">
              <detailed-view-items [attrs]="requestAttrsOrganization" [isAppAdmin]="isApplicationAdmin" [displayOldVal]="request.action === 'UPDATE_FACILITY'"
                                   [includeComment]="request.status !== 'APPROVED' && request.status !== 'REJECTED'"></detailed-view-items>
            </mat-tab>
            <!-- PROTOCOL -->
            <mat-tab label="{{ 'COMMON.ATTRIBUTES.PROTOCOL' | translate }}">
              <detailed-view-items [attrs]="requestAttrsProtocol" [isAppAdmin]="isApplicationAdmin" [displayOldVal]="request.action === 'UPDATE_FACILITY'"
                                   [includeComment]="request.status !== 'APPROVED' && request.status !== 'REJECTED'"></detailed-view-items>
            </mat-tab>
            <!-- ACCESS_CONTROL -->
            <mat-tab label="{{ 'COMMON.ATTRIBUTES.ACCESS_CONTROL' | translate }}">
              <detailed-view-items [attrs]="requestAttrsAccessControl" [isAppAdmin]="isApplicationAdmin" [displayOldVal]="request.action === 'UPDATE_FACILITY'"
                                   [includeComment]="request.status !== 'APPROVED' && request.status !== 'REJECTED'"></detailed-view-items>
            </mat-tab>
          </mat-tab-group>
        </div>
      </div>
    </div>
  </div>
</div>
