<div class="container-fluid pt-5 p-lg-5">
  <mat-spinner class="ml-auto mr-auto" *ngIf="loading" color=""></mat-spinner>
  <div *ngIf="!loading" class="card mb-4 shadow-sm">
    <div class="card-body p-5">
      <h2 class="card-title">
        {{'REQUESTS.REQUEST_DETAIL_TITLE' | translate}}{{request.reqId}}
      </h2>
      {{'REQUESTS.REQUEST_DETAIL_STATUS' | translate}}
      <span [outerHTML]="request.status | requestStatusPipe"></span>
      <br/>
      {{'REQUESTS.REQUEST_DETAIL_ACTION' | translate}}
      <span [outerHTML]="request.action | requestActionPipe"></span>
      <br/>
      {{'REQUESTS.REQUEST_DETAIL_EDITED' | translate}}{{request.modifiedAt | date}}
      <br/>
      <div *ngIf="request.action == 'MOVE_TO_PRODUCTION'">
        <mat-accordion hideToggle="true">
          <mat-expansion-panel [disabled]="expansionPanelDisabled" class="shadow-none">
            <mat-expansion-panel-header collapsedHeight="auto" expandedHeight="auto" class="pl-0" (click)="changeArrow()">
              <mat-panel-title>
                <div *ngIf="expansionPanelDisabled" class="font-italic">
                  {{'REQUESTS.SIGN_REQUEST_NO_SIGN' | translate}}
                </div>
                <div *ngIf="!expansionPanelDisabled" class="pt-2">
                  <mat-icon inline="true">{{icon  ? 'keyboard_arrow_down' : 'keyboard_arrow_up' }}</mat-icon>
                  <span [matBadge]="signatures.length.toString()" matBadgeColor="accent" matBadgeOverlap="false" matBadgeSize="medium" matBadgePosition="above after">{{'REQUESTS.USERS_WHO_SIGNED' | translate}}   </span>
                </div>
              </mat-panel-title>
            </mat-expansion-panel-header>
            <table mat-table [dataSource]="signatures" class="w-100">
              <ng-container matColumnDef="name" >
                <th mat-header-cell *matHeaderCellDef> {{'REQUESTS.REQUEST_DETAIL_ITEM_NAME' | translate}}</th>
                <td mat-cell *matCellDef="let sign"> {{sign.name}} </td>
              </ng-container>

              <ng-container matColumnDef="signedAt">
                <th mat-header-cell *matHeaderCellDef> {{'REQUESTS.REQUEST_DETAIL_DATE' | translate}} </th>
                <td mat-cell *matCellDef="let sign"> {{sign.signedAt | date:'medium'}} </td>
              </ng-container>

              <ng-container matColumnDef="approved">
                <th mat-header-cell *matHeaderCellDef> {{'REQUESTS.REQUEST_DETAIL_APPROVED' | translate}} </th>
                <td mat-cell *matCellDef="let sign">
                  <span [outerHTML]="sign.approved | requestApprovedPipe"></span>
                </td>
              </ng-container>

              <tr mat-header-row *matHeaderRowDef="columns" class="h-50"></tr>
              <tr mat-row *matRowDef="let row; columns: columns;" class="h-50 pad1"></tr>
            </table>
          </mat-expansion-panel>
        </mat-accordion>
      </div>

      <h4 class="mt-4">{{'REQUESTS.REQUEST_DETAIL_ITEMS' | translate}}</h4>

      <table mat-table [dataSource]="requestItems" class="w-100">
        <ng-container matColumnDef="name">
          <th mat-header-cell *matHeaderCellDef>{{'REQUESTS.REQUEST_DETAIL_ITEM_NAME' | translate}}</th>
          <td mat-cell *matCellDef="let item" class="font-thick">
            {{item.name}}
            <span>
              <mat-icon [matTooltip]="item.description" class="text-muted fs-1">help</mat-icon>
            </span>
          </td>
        </ng-container>
        <ng-container matColumnDef="value">
          <th mat-header-cell *matHeaderCellDef>{{'REQUESTS.REQUEST_DETAIL_ITEM_VALUE' | translate}}</th>
          <td mat-cell *matCellDef="let item">
            <div *ngIf="isUndefined(item.value); else notNullValue" class="font-italic text-muted">
              {{'UNDEFINED' | translate}}
            </div>
            <ng-template #notNullValue>
              <span [outerHTML]="item.value | requestItemValue"></span>
            </ng-template>
          </td>
        </ng-container>
        <ng-container matColumnDef="comment" *ngIf="request.status === 'WAITING_FOR_APPROVAL' || request.status === 'WAITING_FOR_CHANGES'">
          <th mat-header-cell *matHeaderCellDef>{{'REQUESTS.REQUEST_CHANGES_COMMENT' | translate}}</th>
          <td mat-cell *matCellDef="let item">
            <mat-form-field *ngIf="isApplicationAdmin" class="w-100">
              <input
                #input="ngModel"
                matInput
                [(ngModel)]="item.comment"
                name="{{item.name}}"
                id="{{item.name}}"
                type="text">
            </mat-form-field>
            <div *ngIf="(!isApplicationAdmin && item.comment !== undefined && item.comment !== null); else elseBlock">
              {{item.comment}}
            </div>
            <ng-template #elseBlock>
              <div *ngIf="!isApplicationAdmin" class="text-muted font-italic">{{ 'REQUESTS.NO_COMMENT' | translate }}</div>
            </ng-template>
          </td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;" class="hover-dark"></tr>
      </table>

      <div class="mt-5">
        <button mat-raised-button color="warn" (click)="openRejectDialog()"
                *ngIf="isApplicationAdmin && request.status=='WAITING_FOR_APPROVAL'">
          {{'REQUESTS.REQUEST_DETAIL_REJECT' | translate}}
        </button>
        <div class="pull-right">
          <button class="ml-2" mat-raised-button [routerLink]="['/auth/requests/editRequest', request.reqId]"
                  *ngIf="(isApplicationAdmin && request.status=='WAITING_FOR_APPROVAL') || (request.status=='WAITING_FOR_CHANGES')">
            {{'REQUESTS.EDIT_REQUEST' | translate}}
          </button>
          <button class="ml-2" mat-raised-button color="accent" (click)="openSetWFCDialog()"
                  *ngIf="isApplicationAdmin && request.status=='WAITING_FOR_APPROVAL'">
            {{'REQUESTS.REQUEST_DETAIL_REQUEST_CHANGES' | translate}}
          </button>
          <button class="ml-2" mat-raised-button color="accent" (click)="openApproveDialog()"
                  *ngIf="isApplicationAdmin && request.status=='WAITING_FOR_APPROVAL'">
            {{'REQUESTS.REQUEST_DETAIL_APPROVE' | translate}}
          </button>
        </div>
      </div>
    </div>
  </div>
</div>
