<div class="container-fluid pt-5">
  <mat-spinner class="ml-auto mr-auto" *ngIf="loading" color=""></mat-spinner>
  <div *ngIf="!loading" class="card mb-4 shadow-sm">
    <div class="card-body p-5">
      <h2 class="card-title">
        {{'FACILITIES.ADD_ADMINS_TITLE_1' | translate}}{{facility.id}} - {{facility.name}}
      </h2>
        {{'FACILITIES.ADD_ADMINS_DESCRIPTION' | translate}}
      <div>
        <mat-form-field class="chip-list">
          <mat-chip-list #chipList>
            <mat-chip *ngFor="let email of emails" [selectable]="false"
                      [removable]="true" (removed)="remove(email)">
              {{email}}
              <mat-icon matChipRemove>cancel</mat-icon>
            </mat-chip>
            <input placeholder="{{'FACILITIES.EMAIL_DESCRIPTION' | translate}}"
                   [matChipInputFor]="chipList"
                   [matChipInputSeparatorKeyCodes]="separatorKeysCodes"
                   [matChipInputAddOnBlur]="true"
                   (matChipInputTokenEnd)="add($event)">
          </mat-chip-list>
        </mat-form-field>
      </div>

      <div class="pull-right">
        <button class="ml-2" mat-raised-button color="accent" (click)="addAdmin()">
          {{'COMMON.SUBMIT' | translate}}
        </button>
      </div>

    </div>
  </div>
</div>
