<ul id="menu" class="nav flex-column menu mt-3">
  <li class="nav-item">
    <a class="menu-link no-hover-decoration" routerLink="">
      <fa-icon [icon]="faHome"></fa-icon>
      Home
    </a>
  </li>
  <li class="nav-item">
    <a class="menu-link no-hover-decoration" routerLink="requests">
      <fa-icon [icon]="faRequests"></fa-icon>
      Requests
    </a>
  </li>
  <li class="nav-item">
    <a class="menu-link no-hover-decoration" routerLink="facilities">
      <fa-icon [icon]="faFacilities"></fa-icon>
      Facilities
    </a>
  </li>
</ul>
