<div class="container-fluid pt-5">
  <mat-spinner class="ml-auto mr-auto" *ngIf="loading" color=""></mat-spinner>

  <div class="row">
    <div class="col-12">
      <div *ngIf="!loading" class="card mb-4 shadow-sm">
        <div class="card-body p-3 p-lg-5">
          <div class="row">
            <h1 class="mb-3 col-8">{{'REQUESTS.EDIT_REQUEST' | translate}}</h1>
          </div>

          <div class="mt-4 clearfix"
               *ngIf="showAccessControlMore || showOrganizationMore || showProtocolMore || showServiceMore">
            <div class="pull-right">
              <button class="ml-2" type="submit" mat-raised-button color="accent" (click)="submitRequest()">
                {{ "COMMON.SUBMIT" | translate }}
              </button>
            </div>
          </div>
          <div class="mt-4" *ngIf="this.isCardBodyVisible">
            <!-- SERVICE -->
            <div class="container-fluid mt-4">
              <div class="container-fluid">
                <span>{{ 'COMMON.ATTRIBUTES.SERVICE' | translate }}</span>
                <button class="ml-2 pull-right" type="button" mat-raised-button (click)="changeServiceShowMore()">
                  {{ (showServiceMore ? "COMMON.SHOW_LESS" : "COMMON.SHOW_MORE") | translate}}
                </button>
                <hr/>
              </div>
              <div class="container-fluid" *ngIf="commentedServiceAttrs.length > 0">
                <div class="container-fluid" *ngFor="let applicationItems of commentedServiceAttrs">
                  <app-application-item [applicationItem]="applicationItems"></app-application-item>
                </div>
              </div>
              <div class="container-fluid mt-1" *ngIf="serviceAttrs.length > 0 && showServiceMore">
                <div class="container-fluid" *ngFor="let applicationItems of serviceAttrs">
                  <app-application-item [applicationItem]="applicationItems"></app-application-item>
                </div>
              </div>
            </div>
            <!-- ORGANIZATION -->
            <div class="container-fluid mt-4">
              <div class="container-fluid">
                <span>{{ 'COMMON.ATTRIBUTES.ORGANIZATION' | translate }}</span>
                <button class="ml-2 pull-right" type="button" mat-raised-button (click)="changeOrganizationShowMore()">
                  {{ (showOrganizationMore ? "COMMON.SHOW_LESS" : "COMMON.SHOW_MORE") | translate}}
                </button>
                <hr/>
              </div>
              <div class="container-fluid" *ngIf="commentedOrganizationAttrs.length > 0">
                <div class="container-fluid" *ngFor="let applicationItems of commentedOrganizationAttrs">
                  <app-application-item [applicationItem]="applicationItems"></app-application-item>
                </div>
              </div>
              <div class="container-fluid mt-1" *ngIf="organizationAttrs.length > 0 && showOrganizationMore">
                <div class="container-fluid" *ngFor="let applicationItems of organizationAttrs">
                  <app-application-item [applicationItem]="applicationItems"></app-application-item>
                </div>
              </div>
            </div>
            <!-- PROTOCOL -->
            <div class="container-fluid mt-4">
              <div class="container-fluid">
                <span>{{ 'COMMON.ATTRIBUTES.PROTOCOL' | translate }}</span>
                <button class="ml-2 pull-right" type="button" mat-raised-button (click)="changeProtocolShowMore()">
                  {{ (showProtocolMore ? "COMMON.SHOW_LESS" : "COMMON.SHOW_MORE") | translate}}
                </button>
                <hr/>
              </div>
              <div class="container-fluid" *ngIf="commentedProtocolAttrs.length > 0">
                <div class="container-fluid" *ngFor="let applicationItems of commentedProtocolAttrs">
                  <app-application-item [applicationItem]="applicationItems"></app-application-item>
                </div>
              </div>
              <div class="container-fluid mt-1" *ngIf="protocolAttrs.length > 0 && showProtocolMore">
                <div class="container-fluid" *ngFor="let applicationItems of protocolAttrs">
                  <app-application-item [applicationItem]="applicationItems"></app-application-item>
                </div>
              </div>
            </div>
            <!-- ACCESS_CONTROL -->
            <div class="container-fluid mt-4">
              <div class="container-fluid">
                <span>{{ 'COMMON.ATTRIBUTES.ACCESS_CONTROL' | translate }}</span>
                <button class="ml-2 pull-right" type="button" mat-raised-button (click)="changeAccessShowMore()">
                  {{ (showAccessControlMore ? "COMMON.SHOW_LESS" : "COMMON.SHOW_MORE") | translate}}
                </button>
                <hr/>
              </div>
              <div class="container-fluid" *ngIf="commentedAccessControlAttrs.length > 0">
                <div class="container-fluid" *ngFor="let applicationItems of commentedAccessControlAttrs">
                  <app-application-item [applicationItem]="applicationItems"></app-application-item>
                </div>
              </div>
              <div class="container-fluid mt-1" *ngIf="accessControlAttrs.length > 0 && showAccessControlMore">
                <div class="container-fluid" *ngFor="let applicationItems of accessControlAttrs">
                  <app-application-item [applicationItem]="applicationItems"></app-application-item>
                </div>
              </div>
            </div>

            <div class="mt-4">
              <div class="pull-right">
                <button class="ml-2" type="submit" mat-raised-button color="accent" (click)="submitRequest()">
                  {{"REQUESTS.SAVE" | translate}}
                </button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
