<div class="pb-2">
  <div mat-dialog-content class="row">
    <p class="col">{{'FACILITIES.ARE_YOU_SURE_DELETE' | translate}}</p>
    <div class="w-100"><!-- SPACER --></div>
    <p class="col">{{data.facilityName | facilityDetailItemLocale}}</p>
  </div>
  <div mat-dialog-actions class="row">
    <div class="col-md-6">
      <button mat-raised-button class="btn-block" color="accent" (click)="onYesClick()">{{'YES' | translate}}</button>
    </div>
    <div class="col-md-6">
      <button mat-raised-button class="btn-block" color="warn" (click)="onNoClick()">{{'NO' | translate}}</button>
    </div>
  </div>
</div>
