<div class="container-fluid pt-5">
  <mat-spinner class="ml-auto mr-auto" *ngIf="loading" color=""></mat-spinner>
  <div *ngIf="!loading" class="row mb-4 p-lg-5 p-4 border-dark shadow">
    <div class="col">
      <div class="row">
        <!-- PAGE TITLE + APPROVALS-->
        <div class="col-md-8">
          <h2 class="card-title">{{'REQUESTS.DETAIL_TITLE' | translate}}{{request.reqId}}</h2>
          <div><span class="font-thick mr-1">{{'REQUESTS.STATUS' | translate}}:</span>
            <span [outerHTML]="request.status | requestStatusIcon"></span>{{ request.status | requestStatusLang | translate }}
          </div>
          <div><span class="font-thick mr-1">{{'REQUESTS.ACTION' | translate}}:</span>
            <span [innerHTML]=" request.action | requestAction | translate"></span>
          </div>
          <div><span class="font-thick mr-1">{{'REQUESTS.DETAIL_EDITED' | translate}}:</span>
            {{ request.modifiedAt | date: 'dd/MM/yyyy'}}
          </div>
          <div *ngIf="isApplicationAdmin && request.modifier !== null">
            <span class="font-thick mr-1">{{'REQUESTS.MODIFIED_BY' | translate}}:</span>
            {{ request.modifier.name }} ({{ request.modifiedAt | date: 'dd/MM/yyyy' }})
          </div>
          <div *ngIf="request.requester !== null" class="mb-4">
            <span class="font-thick mr-1">{{'REQUESTS.REQUESTED_BY' | translate}}:</span>
            {{ request.requester.name }} (#{{request.reqUserId}})
          </div>
          <ng-container *ngIf="signatures.length > 0">
            <h5>{{'REQUESTS.APPROVALS' | translate}}</h5>
            <mat-spinner class="ml-auto mr-auto" *ngIf="signaturesLoading" color=""></mat-spinner>
            <ul *ngIf="!signaturesLoading">
              <li *ngFor="let signature of signatures">
                <span class="mr-2">{{signature.signerName}} - </span>
                <span class="text-muted mr-2">{{signature.signedAt | date: 'dd/MM/yyyy'}}</span>
                <span [innerHTML]="signature.approved | requestSignatureDecisionIcon"></span>
              </li>
            </ul>
          </ng-container>
        </div>
        <!-- BUTTONS -->
        <div class="col-md-4 mt-4 mb-2 controls text-right">
          <!-- TODO: solve not displaying when service does not exist anymore -->
          <ng-container *ngIf="request.facilityId && !(request.action === requestActionEnum.DELETE_FACILITY
           && request.status === requestStatusEnum.APPROVED)">
            <button class="btn-block mb-3" mat-raised-button color="accent"
                    [routerLink]="['/auth/facilities/detail', request.facilityId]">
              {{'REQUESTS.SEE_FACILITY' | translate}}
            </button>
          </ng-container>
          <ng-container *ngIf="request.status === requestStatusEnum.WAITING_FOR_APPROVAL
                                 || request.status === requestStatusEnum.WAITING_FOR_CHANGES">
            <ng-container *ngIf="isApplicationAdmin">
              <button mat-raised-button color="accent" class="btn-block" (click)="openApproveDialog()">
                {{'REQUESTS.DETAIL_APPROVE' | translate}}
              </button>
              <button mat-raised-button color="warn" class="btn-block" (click)="openRejectDialog()">
                {{'REQUESTS.DETAIL_REJECT' | translate}}
              </button>
              <button class="btn-block" mat-raised-button color="primary" (click)="openSetWFCDialog()">
                {{'REQUESTS.DETAIL_REQUEST_CHANGES' | translate}}
              </button>
            </ng-container>
            <button class="btn-block" mat-raised-button color="accent" [routerLink]="['/auth/requests/editRequest', request.reqId]">
              {{'REQUESTS.EDIT_REQUEST' | translate}}
            </button>
            <button class="btn-block" mat-raised-button color="warn" (click)="openCancelDialog()">
              {{'REQUESTS.CANCEL_REQUEST' | translate}}
            </button>
          </ng-container>
        </div>
      </div>
      <!-- AUDIT -->
      <mat-expansion-panel class="row">
        <mat-expansion-panel-header *ngIf="auditLoading || audits.length > 0">
          <mat-panel-title>{{ 'REQUESTS.HISTORY' | translate }}</mat-panel-title>
        </mat-expansion-panel-header>
        <mat-spinner class="ml-auto mr-auto" *ngIf="auditLoading" color=""></mat-spinner>
        <ul *ngIf="!auditLoading">
          <li *ngFor="let audit of audits">
            <span class="mr-2">{{audit.madeAt | date: 'dd/MM/yyyy'}} -</span>
            <span>{{ audit.actorName }}({{ audit.actorId }}) - {{ audit.type | auditTypeTranslationKey | translate }}</span>
          </li>
        </ul>
      </mat-expansion-panel>
    </div>
    <div class="w-100"><!-- SPACER --></div>
    <!-- ATTRIBUTES -->
    <div class="col">
      <div class="row mt-4">
        <h4 class="col">{{'REQUESTS.DETAIL_ITEMS' | translate}}</h4>
      </div>
      <div class="row mt-3">
        <div class="col">
          <mat-tab-group class="p-1">
            <!-- SERVICE -->
            <mat-tab>
              <ng-template matTabLabel>
                <span matBadgeColor="accent" matTooltip="{{ 'REQUESTS.TAB_BADGE_TOOLTIP' | translate}}"
                      [matBadge]="getBadge(serviceChangedCnt)" matBadgeOverlap="false">
                  {{ 'COMMON.ATTRIBUTES.SERVICE' | translate }}
                </span>
              </ng-template>
              <detailed-view-items [attrs]="requestAttrsService"
                                   [isAppAdmin]="isApplicationAdmin"
                                   [displayOldVal]="displayOldVal"
                                   [filterChangedOnly]="filterChangedOnly"
                                   [includeComment]="includeComment"></detailed-view-items>
            </mat-tab>
            <!-- ORGANIZATION -->
            <mat-tab>
              <ng-template matTabLabel>
                <span matBadgeColor="accent" matTooltip="{{ 'REQUESTS.TAB_BADGE_TOOLTIP' | translate}}"
                      [matBadge]="getBadge(organizationChangedCnt)" matBadgeOverlap="false">
                  {{ 'COMMON.ATTRIBUTES.ORGANIZATION' | translate }}
                </span>
              </ng-template>
              <detailed-view-items [attrs]="requestAttrsOrganization"
                                   [isAppAdmin]="isApplicationAdmin"
                                   [displayOldVal]="displayOldVal"
                                   [filterChangedOnly]="filterChangedOnly"
                                   [includeComment]="includeComment"></detailed-view-items>
            </mat-tab>
            <!-- PROTOCOL -->
            <mat-tab>
              <ng-template matTabLabel>
                <span matBadgeColor="accent" matTooltip="{{ 'REQUESTS.TAB_BADGE_TOOLTIP' | translate}}"
                      [matBadge]="getBadge(protocolChangedCnt)" matBadgeOverlap="false">
                  {{ 'COMMON.ATTRIBUTES.PROTOCOL' | translate }}
                </span>
              </ng-template>
              <detailed-view-items [attrs]="requestAttrsProtocol"
                                   [isAppAdmin]="isApplicationAdmin"
                                   [displayOldVal]="displayOldVal"
                                   [filterChangedOnly]="filterChangedOnly"
                                   [includeComment]="includeComment"></detailed-view-items>
            </mat-tab>
            <!-- ACCESS_CONTROL -->
            <mat-tab>
              <ng-template matTabLabel>
                <span matBadgeColor="accent" matTooltip="{{ 'REQUESTS.TAB_BADGE_TOOLTIP' | translate}}"
                      [matBadge]="getBadge(accessControlChangedCnt)" matBadgeOverlap="false">
                  {{ 'COMMON.ATTRIBUTES.ACCESS_CONTROL' | translate }}
                </span>
              </ng-template>
              <detailed-view-items [attrs]="requestAttrsAccessControl"
                                   [isAppAdmin]="isApplicationAdmin"
                                   [displayOldVal]="displayOldVal"
                                   [filterChangedOnly]="filterChangedOnly"
                                   [includeComment]="includeComment"></detailed-view-items>
            </mat-tab>
          </mat-tab-group>
        </div>
      </div>
    </div>
  </div>
</div>
