<div class="container-fluid pt-5">
  <mat-spinner class="ml-auto mr-auto" *ngIf="loading" color=""></mat-spinner>
  <div *ngIf="!loading" class="row mb-4 p-lg-5 p-4 border-dark shadow">
    <div class="col">
      <div class="row">
        <!-- PAGE TITLE -->
        <div class="col-md-8">
          <h2 class="card-title">
            {{'FACILITIES.DETAIL_TITLE' | translate}}{{facility.id}} - {{facility.name | itemLocalePipe}}
          </h2>
          <p><span class="font-thick mr-1">{{'FACILITIES.DESCRIPTION' | translate}}:</span>
            <span [innerHTML]="facility.description | itemLocalePipe | detailedViewItemValuePipe"></span></p>
        </div>
        <!-- BUTTONS -->
        <div class="col-md-4 mt-4 mb-2 controls text-right">
          <button class="mb-1 btn-block" mat-raised-button color="accent" (click)="approveRequest()">
            {{'FACILITIES.MOVE_TO_PRODUCTION_APPROVE' | translate}}
          </button>
          <button class="mb-1 btn-block" mat-raised-button color="warn" (click)="rejectRequest()">
            {{'FACILITIES.MOVE_TO_PRODUCTION_REJECT' | translate}}
          </button>
        </div>
      </div>
    </div>
    <div class="w-100"><!-- SPACER --></div>
    <div class="col">
      <mat-tab-group class="p-1">
        <!-- SERVICE -->
        <mat-tab label="{{ 'COMMON.ATTRIBUTES.SERVICE' | translate }}">
          <detailed-view-items [attrs]="facilityAttrsService" [isAppAdmin]="false"></detailed-view-items>
        </mat-tab>
        <!-- ORGANIZATION -->
        <mat-tab label="{{ 'COMMON.ATTRIBUTES.ORGANIZATION' | translate }}">
          <detailed-view-items [attrs]="facilityAttrsOrganization" [isAppAdmin]="false"></detailed-view-items>
        </mat-tab>
        <!-- MANAGERS-->
        <mat-tab label="{{ 'FACILITIES.MANAGERS' | translate }}">
          <div class="col mt-3" *ngFor="let manager of facilityAdmins">
            <p class="border-bottom">{{manager.name}}: <a href="mailto:{{manager.email}}">{{manager.email}}</a></p>
          </div>
        </mat-tab>
      </mat-tab-group>
  </div>
  </div>
</div>
